<%  content_for :javascript do javascript_include_tag "#{controller_name}" end %>
<style>
    body{
        background:#f5f5f5;
    }
</style>
<div id="s_region_code_info">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 newsLeft">
           <div class="title">
                <span class="goodBack"></span>
                单位管理
           </div>
           <div class="newRole banner cursorPointer" data-toggle="modal" data-target="#region_add">
                <div class="radius">
                    <img src="<%= image_path("add.png")%>" />
                </div>
                创建单位
            </div>
        </div>
       <div class="col-lg-9 col-md-9 col-sm-9 newsRight">
            <form class="form-inline public_search">
                <div class="form-group">
                    <label for="exampleInputName1">单位名称:</label>
                    <!--<select name="region_list" class="form-control">
                      
                    </select>-->
                    <input type="text" name="region_id" class="form-control">
                </div>
               
                <button type="button" class="btn submit goodBack">查询</button>
            </form>
            <div class="listBanner col-lg-12">
        
            </div>
             <!--分页 .yn_public_page-->
            <div class="yn_public_page">
                <div class="pageTotal pull-left">共 <a></a> 条数据,当前显示第 <small></small> 页,共 <span></span> 页</div>
                <ul class="page pull-right" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
                <div class="clear"></div>
            </div>
            
       </div>
      
    </div>
    <div class="loading">
        <div class="actingCon pcactingCon">
                <div class="img"></div>
                <p>加载中...</p>
        </div>
    </div>
     <!--增加单位-->
	<div class="modal fade" id="region_add" class="internet_bing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">添加单位</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="new_region_form">
                    	<div class="form-group">
                            <label class="col-sm-3 control-label">单位编号:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_name" />
                            </div>
                        </div>
                        <div class="form-group selectRegion_form">
                            <label class="col-sm-3 control-label">区域:</label>
                             <div class="col-sm-3 selectRegion">
                                <select class="form-control fatherFir_region" name="group_id">
                                    
                                </select>
                            </div>
                            <div class="col-sm-3 selectRegion">
                                <select class="form-control fatherSec_region" name="group_id">
                                   
                                </select>
                            </div>
                            <div class="col-sm-3 selectRegion">
                                <select class="form-control" name="group_id">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位所在地:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">负责人:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="linkman" />
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-3 control-label">负责人电话:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="linkman_tel" />
                            </div>
                        </div>
                        <div class="form-group">
				            <label  class="col-sm-3 control-label">状态:</label>
				            <div class="col-sm-9">
				                <select  class="form-control" id="status" name="status">
					                <option value="Y">启用</option>
					                <option value="N">停用</option>
				                </select>
				            </div>
				        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--编辑单位-->
    <div class="modal fade" id="region_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">编辑单位</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="edit_region_form">
                    	<div class="form-group">
                            <label class="col-sm-3 control-label">单位编号:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_name" />
                            </div>
                        </div>
                        <div class="form-group selectRegion_form">
                            <label class="col-sm-3 control-label">区域:</label>
                             <div class="col-sm-3 selectRegion">
                                <select class="form-control fatherFir_region" name="group_id">
                                    
                                </select>
                            </div>
                            <div class="col-sm-3 selectRegion">
                                <select class="form-control fatherSec_region" name="group_id">
                                   
                                </select>
                            </div>
                            <div class="col-sm-3 selectRegion">
                                <select class="form-control" name="group_id">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单位所在地:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="unit_address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">负责人:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="linkman" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">负责人电话:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="linkman_tel" />
                        	</div>
                        </div>
                        <div class="form-group">
				            <label  class="col-sm-3 control-label">状态:</label>
				            <div class="col-sm-9">
				                <select  class="form-control" id="status" name="status">
					                <option value="Y">启用</option>
					                <option value="N">停用</option>
				                </select>
				            </div>
				        </div>
                        
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/html" id="region_select">
	<option value="">请选择单位</option>
    {{each region_code_info as region_select index}}
        <option value="{{region_select.id}}">{{region_select.unit_name}}</option>
    {{/each}}
</script>
 <script id="region_table" type="text/html">
            {{if region_code_info.length > 0}}
                {{each region_code_info as region_list index}}
                <div class="col-lg-12 banner">
                    <div class="col-lg-4 list">
                        <p class="bold">
                            <span class="title goodBack"></span>
                            <span>单位名称：</span>
                            <span class="login_name">{{region_list.unit_name}}</span>
                           
                            <span></span>
                        </p>
                        <p>
                           
                        </p>
                    </div>
                    
                    <div class="col-lg-2 listBorder">
                        <span>单位编码：</span>
                        <br/>
                        <span class="centerRight">{{region_list.unit_code}}</span>
                    </div>
                    <div class="col-lg-2 listBorder">
                        <span>单位地址：</span>
                        <br/>
                        <span class="centerRight">{{region_list.unit_address}}</span>
                    </div>
                    <div class="col-lg-2 listBorder">
                        <span>状态</span>
                        <br/>
                    {{if region_list.status == 'Y'}}<span class="goodColor centerRight cursorPointer">启用</span>{{else}}<span class="badColor centerRight cursorPointer">禁用</span>{{/if}}
                    </div>
                    <div class="col-lg-2 listBorder center">
                        <span class="edit cursorPointer" value="{{region_list.id}}" data-toggle="modal" data-target="#region_edit">
                             <img src="<%= image_path("edit.png")%>" />
                        </span>
                        <div class="line"></div>
                        
                    </div>
                </div>
                {{/each}}
            {{else}}
               <div class="col-lg-12 banner" style="text-align:center;line-height:100px;">
                   暂无数据
                </div>
            {{/if}}
</script>
<!--一级区域-->
<script type="text/html" id="group_region">
    {{each s_region_code as region_code index}}
        <option value="">请选择区域</option>
        <option value="{{region_code.id}}">{{region_code.region_name}}</option>
    {{/each}}
</script>
<!--2级区域-->
<script type="text/html" id="group_regionSec">
    {{each d_region_code as region_code_sec index}}
        <option value="{{region_code_sec.id}}">{{region_code_sec.region_name}}</option>
    {{/each}}
</script>
