
<style>
    html{
        height: 100%;
    }
    body{
        background-position: center center;
        background-attachment: fixed;
        background-image: url(<%= image_path( 'banner.jpg' )%>);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
</style>
    <div id="login" class="container">
        <div class="top">
           <!--<img src="<%= image_path("logo.png")%>" />-->
        </div>
        <!--<div class="titleTop col-lg-10 col-md-10 col-sm-10">河南汇智丰信息科技有限公司</div>-->
        <div class="content pull-right">
            <div class="title">智慧环保环境自动监控与指挥平台</div>
            <div class="loginContent">
             <%= form_tag( '/sessions', method:'post', class:"loginForm" ) do %>
                   <div class="Border">
                       <img src="<%= image_path("admin.png")%>" />
                       <div class="line"></div>
                       <%= text_field_tag :login_no  %>
                   </div>
                   <div class="Border">
                        <img src="<%= image_path("pass.png")%>" />
                       <div class="line"></div>
                        <%= password_field_tag :password %>
                   </div>
                    <button class="btn col-lg-12 col-sm-12 col-md-12 submit" type="submit" onclick="sumItform()" id="sub">登录</button>
               <% end %> 
            </div>
        </div>
    </div>
<script type="text/javascript">
$(function(){
    <% if @error_msg.blank? %>
        <% else %>
        alert("<%= @error_msg %>");
    <% end %>
	window.onload=function(){ 
		document.documentElement.style.overflowY = 'hidden';
	} 
	function sumItform() {
		var login_no = document.getElementById("login_no").value;
		var password = document.getElementById("password").value;
		if (login_no == "") {
			alert("请输入用户名！");
			document.getElementById("login_no").focus();
			return;
		} else if (password == "") {
			alert("请输入密码！");
			document.getElementById("password").focus();
			return;
		}
		else {
			// document.getElementById("loginForm").submit();
            //location.href="http://172.168.10.7:3080/";
            
		}
	}
	function setFocus() {
		document.forms[0].elements[0].focus();
	}
	/* Enter键触发查询 */
	function EnterPress(e){ //传入 event 
		var e = e || window.event; 
		if(e.keyCode == 13){ //13代表回车符
		//TO_DO按下回车键后的动作
			document.all('sub').click();
		} 
	}
    /*设置cookie*/
    $("#sub").click(function(){
     //   var login_no = $(".loginForm input[name='login_no']").val();
      //  console.log(login_no)
     //   var password = $(".loginForm input[name='password']").val();
      //  $.cookie("login_no",login_no, { path: '/',domain:'172.168.10.7' });
      //  $.cookie("password",password, { path: '/',domain:'172.168.10.7' });
        
      //  var sessionCode = "7kNQyK9Hal7p4aM_1gDzbA";
       // $.cookie("sessionCode",sessionCode, { path: '/',domain:'172.168.10.7' });
    })
})
</script>