<div class="roleNew">
	<%= form_for(@s_role_msg) do |f| %>
	  <% if @s_role_msg.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@s_role_msg.errors.count, "error") %> prohibited this s_role_msg from being saved:</h2>

		  <ul>
		  <% @s_role_msg.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="field">
		<%= f.label :role_name %>
		<%= f.text_field :role_name %>
	  </div>
	  <div class="field">
		<%= f.label :valid_flag %>
		<%= f.text_field :valid_flag %>
	  </div>
	  <div class="field">
		<%= f.label :root_distance %>
		<%= f.number_field :root_distance %>
	  </div>
	  <div class="field">
		<%= f.label :queue_index %>
		<%= f.number_field :queue_index %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
	<% end %>
</div>