<div id="manage">
	<div class="content">
		<div class="content-outside">
			<%= form_for(@s_role_msg,method:'put') do |f| %>
				<% if @s_role_msg.errors.any? %>
					<div id="error_explanation">
					  <h2><%= pluralize(@s_role_msg.errors.count, "error") %> prohibited this s_role_msg from being saved:</h2>

					  <ul>
					  <% @s_role_msg.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					  <% end %>
					  </ul>
					</div>
				<% end %>
				<p>角色编辑</p>
				<div class="content-inside">
					<div class="line-top">
						<p>请选择以下表单</p>
					</div>
					<div class="line roleName" >
						<span>角色名称</span>
						<%= f.text_field :role_name,required:"true",readonly:"true" %>
					</div>
					<div class="line">
						<span>是否启用</span>
						<a href="javascript:">
							<b class="hide"><%= @s_role_msg.valid_flag %></b>
							<span class="right-radio">
								<%= f.radio_button "valid_flag","1",id:"optionsRadios1",checked:"checked" %>是
							</span>
							<span class="right-radio">
								<%= f.radio_button "valid_flag","0",id:"optionsRadios2",checked:"checked" %>否
							</span>
						</a>
					</div>
					<div class="line">
						<div class="line-top">
							<p>权限选项</p>
						</div>
					</div>
					<ul class="left-list list">
						<% @navi_all.each do |navi_all| %>
						<li class="che1 che">
							<p>
							   <input type="checkbox" <%= :checked if check_bar_in_all(navi_all.func_code) %> />
							   <span><%= navi_all.func_name %></span>
							   <i><%= navi_all.id %></i>
							</p>
							<ul>
								<% navi_all.son_funcs.each do |all_son_funcs| %>
									<li>
										<input type="checkbox" <%= :checked if check_func_in_all(all_son_funcs.func_code) %> />
										<%= all_son_funcs.func_name %>
										<i><%= all_son_funcs.id %></i>
									</li>
								<% end %>
							</ul>
						</li>
						<% end %>
					</ul>
				</div>
				<%= f.text_field "role_name",{name:"func_code_true",class:"showId hide"} %>
				<%= f.text_field "role_name",{name:"func_code_false",class:"hideId hide"} %>
				<%= f.submit "提交",class:"btn btn-primary roleSubmit"%>
			<% end %>	
		</div>
	</div>
</div>
<script>
$(function(){
	/*是否启用*/
	if($("#manage .line .hide").html() == 1){
		$("#optionsRadios1").prop("checked","checked");
		$("#optionsRadios2").removeAttr("checked");
	}
	if($("#manage .line .hide").html() == 0){
		$("#optionsRadios2").prop("checked","checked");
		$("#optionsRadios1").removeAttr("checked");
	}
	/*提交id*/
	$(".roleSubmit").click(function(){
		var showid = [];
		var hideid = [];
		for(var f=0;f<$(".che input").length;f++ ){
			if($('.che input')[f].checked == true){
				showid.push($(".che i")[f].innerHTML);
				$('.showId').val(showid);
			}else{
				hideid.push($(".che i")[f].innerHTML);
				$('.hideId').val(hideid);
			}
		}
		console.log(showid);
		console.log(hideid);
	});
	$('.list > li>p>span').click(function(){
		$(this).parent().siblings().toggle().end().parents('li').siblings().find('ul').hide()
	})
	$('#manage .list .che p input').click(function(){
		$(this).parents('.che').find('ul li input').prop('checked',this.checked);
	})
	$('#manage .list .che ul li input').click(function(){
		$(this).parents('.che').find('p > input').prop('checked',this.checked)
	})
	$("#optionsRadios2").click(function(){
		$(".che input").attr('disabled',"true");
		$(".che input").removeAttr('checked');
	});
	$("#optionsRadios1").click(function(){
		$(".che input").removeAttr('disabled');
		$(this).parents(".content-inside").find($(".che input")).prop('checked',this.checked);
	});
})	
</script>	