<%  content_for :javascript do javascript_include_tag "#{controller_name}" end %>
<style>
    body{
        background:#f5f5f5;
    }
</style>
<div id="role_limit">
    <small class="session hide"><%= @current_user.session %></small>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 newsLeft">
           <div class="title">
                <span class="goodBack"></span>
                应用权限
           </div>
            <div class="newRole banner cursorPointer" data-toggle="modal" data-target="#limit_add">
                <div class="radius">
                   <img src="<%= image_path("add.png")%>" />
                </div>
                创建角色
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 newsRight">
             <form class="form-inline public_search">
                <div class="form-group">
                    <label for="exampleInputName2">权限名称:</label>
                    <input type="text" class="form-control" id="exampleInputName2" name="role_name">
                </div>
                <button type="button" class="btn submit goodBack">查询</button>
            </form>
            <div class="listBanner col-lg-12">
                <script type="text/html" id="roleList">
                    {{if roles.length > 0}}
                        {{each roles as roleList index}}
                        <div class="col-lg-2 banner">
                            <div class="top">
                                <img src="<%= image_path("bg_air.png")%>" />
                                {{if roleList.valid_flag =="1"}}
                                    <div class="pull-right status goodBack" value="{{roleList.valid_flag}}">启用</div>
                                {{else}}
                                    <div class="pull-right status badBack" value="{{roleList.valid_flag}}">禁用</div>
                                {{/if}}
                                <div class="user">{{roleList.role_name}}</div>
                                <div style="padding:0;">
                                    {{each roleList.sSubsystList as sSubsyst index}}
                                        {{if sSubsyst=="空气监测"}}
                                            <span class="list airStation">{{sSubsyst}}</span>
                                        {{else if sSubsyst=="水质监测"}}
                                            <span class="list waterStation">{{sSubsyst}}</span>
                                        {{else}}
                                            <span class="list operationStation">{{sSubsyst}}</span>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="bottom">
                                <span class="edit cursorPointer" value="{{roleList.id}}" data-toggle="modal" data-target="#limit_edit">编辑</span>
                               <!-- 配置<div class="line"></div>
                                <span class="config cursorPointer" value="{{roleList.id}}" data-toggle="modal" data-target="#add_config">配置</span>-->
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                         <div class="col-lg-2 banner" style="line-height:160px;">暂无数据</div>
                    {{/if}}
                </script>
            </div>
            <!--分页 .yn_public_page-->
            <div class="yn_public_page">
                <div class="pageTotal pull-left">共 <a></a> 条数据,当前显示第 <small></small> 页,共 <span></span> 页</div>
                <ul class="page pull-right" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="loading">
        <div class="actingCon pcactingCon">
                <div class="img"></div>
                <p>加载中...</p>
        </div>
    </div>
     <!--增加工号-->
	<div class="modal fade" id="limit_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">创建角色</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="limit_add_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="role_name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用:</label>
                              <div class="col-xs-9">
                                <a href="javascript:" class="Radio"> <b class="hide"></b>
                                    <span class="right-radio"> <input id="optionsRadios1"
                                        type="radio" value="1" name="valid_flag" checked>是

                                </span> <span class="right-radio"> <input id="optionsRadios2"
                                        type="radio" value="0" name="valid_flag">否
                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">系统权限:</label>
                            <div class="col-sm-9 list">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn goodBack submit">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!--编辑工号-->
	<div class="modal fade" id="limit_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">修改角色</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="limit_edit_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="role_name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用:</label>
                              <div class="col-xs-9">
                                <a href="javascript:" class="Radio"> <b class="hide"></b>
                                    <span class="right-radio"> <input id="optionsRadios1"
                                        type="radio" value="1" name="valid_flag" checked>是

                                </span> <span class="right-radio"> <input id="optionsRadios2"
                                        type="radio" value="0" name="valid_flag">否
                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">系统权限:</label>
                            <div class="col-sm-9 list">
                             
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn goodBack submit">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--权限配置-->
    	<!--<div class="modal fade" id="add_config" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title center" id="exampleModalLabel">配置用户权限</h4>
                    </div>
                    <div class="modal-body content">
                        <form class="form-horizontal" id="add_config_form"
                            method="post">
                            <div class="content-outside">
                                <div class="lines form-group">
                                    <div class="line-top">
                                    </div>
                                </div>
                                <ul class="left-list list list_config">
                                </ul>
                                <div class="modal-footer" style="text-align: center;">
                                    <button type="button" class="btn submit goodBack">保存</button>
                                </div>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>-->

</div>
<!--空气站权限获取-->
<script type="text/html" id="list_air">
        <input type="text" name="func_code_true" class="hide">
        <input type="text" name="func_code_false" class="hide">
    {{each all_funs as listAir index}}
         <li class="che che1">
            <p>
                <input type="checkbox" value="{{listAir.id}}" /> <span>{{listAir.func_name}}</span>
                <i>{{listAir.id}}</i>
            </p>
             <ul class="che2">
                {{each listAir.son_all as listAir_child index}}
                    <li><input type="checkbox" value="{{listAir_child.id}}" />
                    <span>{{listAir_child.func_name}}</span> <i>{{listAir_child.id}}</i></li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</script>
<!--水站权限获取-->
<script type="text/html" id="list_water">
    {{each funcs as listWater index}}
         <li class="che che1">
            <p>
                <input type="checkbox" value="{{listWater.id}}" /> <span>{{listWater.func_name}}</span>
                <i>{{listWater.id}}</i>
            </p>
             <ul class="che2">
                {{each listWater.chil as listWater_child index}}
                    <li><input type="checkbox" value="{{listWater_child.id}}" />
                    <span>{{listWater_child.func_name}}</span> <i>{{listWater_child.id}}</i></li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</script>