<!--角色权限查询-->
<div class="roleBox">
    <p>角色权限查询</p>
	<div id="roleRefer">
		<p>
		  <strong>角色名称:</strong>
		  <%= @s_role_msg.role_name %>
		</p>

		<p>
		  <strong>有效标志:</strong>
		  <%= @s_role_msg.valid_flag %>
		</p>
		<div class="roleBtn">
			<%= link_to '编辑', edit_s_role_msg_path(@s_role_msg),class:"btn btn-primary" %> 		
		</div>
	</div>
</div>