<%  content_for :javascript do javascript_include_tag "#{controller_name}" end %>
<div id="headIndex">
    <div class="banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="bannerPrev col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <div class="prev hide">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
            </div>
            <div class="bannerCarousel col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="bannerStart">
                    <script type="text/html" id="listBanner">
                        {{each sub as listBanner index}}
                            <a href="{{listBanner.sys_url}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bannerList" value_id="{{listBanner.id}}" target="_blank">
                                {{if listBanner.id == "1"}}
                                    <%= image_tag("air_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                                {{else if listBanner.id == "2"}}
                                    <%= image_tag("water_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                                {{else if listBanner.id == "3"}}
                                    <%= image_tag("manage_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                                {{else if listBanner.id == "4"}}
                                    <%= image_tag("pollute_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                                {{else if listBanner.id == "5"}}
                                    <%= image_tag("alarm_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                                {{/if}}
                                <div class="bannerDescrb">
                                    {{if listBanner.id == "1"}}
                                        <div class="bannerIcon air_bannerIcon">                                    
                                            <img src="<%= image_path("air_icon.png")%>" />
                                        </div>                                        
                                    {{else if listBanner.id == "2"}}
                                        <div class="bannerIcon water_bannerIcon">  
                                            <img src="<%= image_path("water_icon.png")%>" />
                                        </div>
                                    {{else if listBanner.id == "3"}}
                                        <div class="bannerIcon manage_bannerIcon">  
                                            <img src="<%= image_path("manage_icon.png")%>" />
                                        </div>
                                    {{else if listBanner.id == "4"}}
                                        <div class="bannerIcon pollute_bannerIcon">  
                                            <img src="<%= image_path("pollute_icon.png")%>" />
                                        </div>
                                    {{else if listBanner.id == "5"}}
                                        <div class="bannerIcon alarm_bannerIcon">  
                                            <img src="<%= image_path("alarm_icon.png")%>" />
                                        </div>
                                    {{/if}}
                                    <span class="">{{listBanner.sys_name}}</span>
                                </div>
                            </a>
                        {{/each}}
                        <a href="/GIS_map" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bannerList" target="_blank">
                            <%= image_tag("GIS_banner.png", class: "col-lg-12 col-md-12 col-sm-12 col-xs-12")%>
                            <div class="bannerDescrb">
                                <div class="bannerIcon GIS_bannerIcon">
                                    <img src="<%= image_path("GIS_icon.png")%>" />
                                </div>
                                <span class="">GIS地图</span>
                            </div>
                        </a>
                    </script> 

                </div>
            </div>
            <div class="bannerNext col-lg-1">
                <div class="next hide">
                        <span class="glyphicon glyphicon-chevron-right"></span>   
                    </div>    
                </div>            
            </div>
        </div>
    </div>
</div>