<%= form_for(@ihome) do |f| %>
  <% if @ihome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ihome.errors.count, "error") %> prohibited this ihome from being saved:</h2>

      <ul>
      <% @ihome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
