
        <!--改变部分-->
        <div id="portalsHeader">
                <div class="col-lg-12 col-sm-12 container">
                  
                    <div class="col-lg-12 col-md-12 col-sm-12 newsRight">
                        <div class="col-lg-2 banner">
                            <a href="http://172.168.10.7:3000" target="nav">
                                <img src="<%= image_path("bg_air.png")%>" />
                                <span>空气站</span>
                            </a>
                        </div>
                        <div class="col-lg-2 banner">
                            <a href="http://172.168.10.7:3020" target="nav">
                                <img src="<%= image_path("bg_water.png")%>" />
                                <span>水站</span>
                            </a>
                        </div>
                        <div class="col-lg-2 banner">
                            <a href="http://172.168.10.8:8020/SaosMgr" target="nav">
                                <img src="<%= image_path("bg_farm.png")%>" />
                                <span>智慧农业</span>
                            </a>
                        </div>
                        <div class="col-lg-2 banner">
                            <a href="http://172.168.10.7:3030" target="nav">
                                <img src="<%= image_path("bg_oper.png")%>" />
                                <span>运维</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>