<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8" http-equiv="Content-Type">
  <title>环境空气质量监测平台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>        
     <div id="portalsHeader">
        <div class="col-lg-12 col-sm-12 container">
            <div class="col-lg-3 col-md-3 col-sm-3 newsLeft">
                <p class="title center">8888最新消息</p>
                <div class="content">
                    <p class="news">
                        <span>1.2017-10-24 11:36:00</span>
                        <span>报警监控界面出现一般报警...</span>
                    </p>
                    <p class="news">
                        <span>1.2017-10-24 11:36:00</span>
                        <span>报警监控界面出现一般报警...</span>
                    </p>
                    <p class="news">
                        <span>1.2017-10-24 11:36:00</span>
                        <span>报警监控界面出现一般报警...</span>
                    </p>
                    <p class="news">
                        <span>1.2017-10-24 11:36:00</span>
                        <span>报警监控界面出现一般报警...</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 newsRight">
                <div class="col-lg-3 banner">
                    <a href="172.168.10.8">
                       <img src="<%= image_path("bg_farm.png")%>" />
                         <span>农业</span>
                    </a>
                </div>
                <div class="col-lg-3 banner">
                     <img src="<%= image_path("bg_farm.png")%>" />
                    <span>农业</span>
                </div>
                <div class="col-lg-3 banner">
                    <img src="<%= image_path("bg_farm.png")%>" />
                    <span>农业</span>
                </div>
                <div class="col-lg-3 banner">
                    <img src="<%= image_path("bg_farm.png")%>" />
                    <span>农业</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
