<!--编辑工号-->
<div id="edit">
    <p><span class="glyphicon glyphicon-edit"></span>编辑工号</p>
    <%= form_for(@d_login_msg) do |f| %>
    <% if @d_login_msg.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@d_login_msg.errors.count, "error") %> prohibited this d_login_msg from being saved:</h2>

        <ul>
            <% @d_login_msg.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">用户编码：</label>
        <div class="col-xs-8">
            <%= f.text_field :login_no,class:"form-control",required:"true" %>
        </div>
    </div>
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">用户名：</label>
        <div class="col-xs-8">
            <%= f.text_field :login_name,class:"form-control",required:"true" %>
        </div>
    </div>
    
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">是否有效：</label>
		<b class="hide validFlag"><%= @d_login_msg.valid_flag %></b>
        <div class="col-xs-8">
			<%= f.radio_button "valid_flag","1",class:"valid" %>
			<label style="float: left;">有效</label>
			<%= f.radio_button "valid_flag","0",class:"flag" %>
			<label style="float: left;margin: 0;">无效</label>
		</div>
    </div>
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">有效开始日期：</label>
        <div class="col-xs-8">
            <%= f.text_field :valid_begin,class:"some_class",required:"true" %>
        </div>
    </div>
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">有效结束日期：</label>
        <div class="col-xs-8">
            <%= f.text_field :valid_end,class:"some_class",required:"true" %>
        </div>
    </div>
    <div class="field">
        <label class="col-xs-4 fieldChild control-label">Ip地址：</label>
        <div class="col-xs-8">
            <%= f.text_field :ip_address,class:"form-control unable" %>
        </div>
    </div>
    <div class="describeBox">
        <label class="col-xs-2 fieldChild control-label">描述：</label>
        <div class="col-xs-10">
            <%= f.text_area :describe,class:"describe col-xs-12" %>
        </div>
    </div>
    <div class="editNo">
        <%= f.submit "保存",class:"btn btn-primary  col-xs-offset-5" %>
        <%= link_to '返回', d_login_msgs_path,class:"btn btn-primary back"  %>
    </div>
    <% end %>
</div>

<script>
$(function(){
	/*有效的标志*/
	if($(".validFlag").text() == '1'){
		$(".valid").prop("checked","checked");
		$(".flag").removeAttr("checked");
	}else{
		$(".flag").prop("checked","checked");
		$(".valid").removeAttr("checked");
	}
	$(".choice").focus(function(){
	    this.blur();
	});
	
	$(".unable").focus(function(){
		this.blur();
	});
	
	
	for(var j=0;j<$("#valid_flag option").length;j++){
		if($("#valid_flag option").eq(j).text() == '1'){
			$("#valid_flag option").eq(j).html("有效");
		}else{
			$("#valid_flag option").eq(j).html("无效");
		}
	}
	/*日期*/
	var time = new Date();
	var year = time.getFullYear();
	$('.some_class').datetimepicker({
		format:"Y-m-d",
		minDate:year+'-01-01',
		maxDate: year+'-12-31',
		todayButton:true,
		timepicker:false
	})
	var myMonth = time.getMonth()+1
	var myDate = time.getDate()-1
	//站点
	$('.choose').click(function(){
			$('#search-station .choose-site').show()
		})
		$('#search-station .tab-top span').click(function(){
			var $index = $(this).index()
			$('#search-station .choose-site .tab-station').eq($index-1).show().siblings().hide()
			$(this).css('background','#fff').siblings().css('background','')
		})
		$('#search-station .tab-top span').eq(0).click(function(){
			$('#search-station .choose-site .tab-station').show()
		})
		
		$('#search-station .station-btn .btn-sure').click(function(){
			$('#search-station .choose-site').hide()
			if($('#search-station .choose-site  .radios:checked')){
				var text=[];
				var textid=[];
				$('#search-station  .radios:checked').siblings('small').each(function(){
					text.push(this.innerHTML)
				})
				$('#search-station  .radios:checked').siblings('a').each(function(){
					textid.push(this.innerHTML)
				})
				var allText = text.join(',')
				var textid=textid.join(',')
				$('.chooseBox').val(allText)
				$('.choice').val(textid)
			}else{
				$('#day-table .search-once .controll-station').val('')
				$('#day-table .search-once .selId').val('')
			}
		})
		$('#search-station .choose-site .tab-station').each(function(i){
			$(this).find('p span').click(function(){
				var check;
				$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').each(function(){
					if($(this).prop('checked')==false){
						check='false';
						return false
					}else{
						check='true'
					}
				})
				if(check=='true'){
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',true)
				}else{
					$('#search-station .choose-site .tab-station').eq(i).find('.list-city input').prop('checked',false)
				}
			})
		})	
		$('#search-station .station-btn .btn-cancel').click(function(){
			$('#search-station .choose-site').hide()
		})
})	
</script>