<div id="reset" class=" reg-container">
	<div class="resetPassword">
		<span class="glyphicon glyphicon-edit"></span>重置密码
	</div>
	<%= form_for(@d_login_msg,method:'put') do |f| %>
		<% if @d_login_msg.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@d_login_msg.errors.count, "error") %> prohibited this d_login_msg from being saved:</h2>
			  <ul>
			  <% @d_login_msg.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
		<% end %>
		<%= f.text_field :login_no,class:"hide" %>
		<%= f.text_field :login_name,class:"hide" %>
		<div class="form-group">
			<label class="col-xs-2 control-label pwd" id="npwd" for="password">新密码：</label>
			<div class="col-xs-5">
				<%= f.password_field :password,id:"password",class:"form-control",autofocus:"true",placeholder:"请输入密码",required:"true",pattern:"^[a-zA-Z0-9]{3,16}$" %>
				<label id="passwordTip" class="warn control-default">请输入3至16位的英文或数字.</label>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label pwd" id="pwds" for="password_confirmation">确认新密码：</label>
			<div class="col-xs-5">
				<%= f.password_field :password_confirmation,id:"password_confirmation",class:"form-control",placeholder:"请输入新密码" ,required:"true",pattern:"^[a-zA-Z0-9]{3,16}$" %>
				<label id="password_confirmationTip" class="warn hide control-default">请输入3至16位的英文或数字.</label>
			</div>
			
		</div>
		<div class="form-group">
			<div class="actions submit col-xs-5 col-xs-offset-2">
				<%= f.submit "提交",id:"pwdSubmit",type:"submit",class:"btn btn-primary btn-block",disabled:"true" %>
				<%= link_to '返回', d_login_msgs_path,class:"btn btn-primary back"  %>
			</div>
		</div>
	<% end %>
</div>
<script>
    var passWd = document.getElementById("password");
    var passWdTip = document.getElementById("passwordTip");
    passWd.onfocus = function(){
        passWdTip.className = "col-xs-5 show control-default";
        passWdTip.firstChild.nodeValue = "请输入3至16位的英文或数字."
    };
    passWd.onblur = function(){
        if(passWd.validity.valid){
            passWdTip.className = "col-xs-5 show control-success";
            passWdTip.firstChild.nodeValue = "密码正确."
        }else if(passWd.validity.valueMissing){
            passWdTip.className = "col-xs-5 show control-error";
            passWdTip.firstChild.nodeValue = "密码不能为空."
        }else if(passWd.validity.patternMismatch){
            passWdTip.className = "col-xs-5 show control-error";
            passWdTip.firstChild.nodeValue = "密码输入有误."
        }
    };
    var affirmPwd= document.getElementById("password_confirmation");
    var affirmPwdTip = document.getElementById("password_confirmationTip");
    affirmPwd.onfocus = function(){
        affirmPwdTip.className = "col-xs-5 show control-default";
        affirmPwdTip.firstChild.nodeValue = "请输入3至16位的英文或数字."
    };
    affirmPwd.onblur = function(){
        if(affirmPwd.validity.valid){
            if(passWd.value!=null&&passWd.value==affirmPwd.value) {
                affirmPwdTip.innerHTML = "两次密码相同可以使用";
				affirmPwdTip.className="col-xs-5 show control-success";
                document.getElementById("pwdSubmit").disabled = false;
			}else{
                affirmPwdTip.innerHTML="两次密码不相同";
                affirmPwdTip.className="col-xs-5 show control-error";
                document.getElementById("pwdSubmit").disabled = true;
			}
        }else if(affirmPwd.validity.valueMissing){
            affirmPwdTip.className = "col-xs-5 show control-error";
            affirmPwdTip.firstChild.nodeValue = "密码不能为空."
        }else if(affirmPwd.validity.patternMismatch){
            affirmPwdTip.className = "col-xs-5 show control-error";
            affirmPwdTip.firstChild.nodeValue = "密码输入有误."
        }  
    };
</script>