<%  content_for :javascript do javascript_include_tag "#{controller_name}" end %>
<style>
    body{
        background:#f5f5f5;
    }
</style>
<div id="d_login_msg">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 newsLeft">
           <div class="title">
                <span class="goodBack"></span>
                工号管理
           </div>
           <div class="newRole banner cursorPointer" data-toggle="modal" data-target="#role_add">
                <div class="radius">
                    <img src="<%= image_path("add.png")%>" />
                </div>
                创建工号
            </div>
        </div>
       <div class="col-lg-9 col-md-9 col-sm-9 newsRight">
            <form class="form-inline public_search">
                <div class="form-group">
                    <label for="exampleInputName1">用户名:</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="login_name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">角色:</label>
                     <select name="role_id" class="form-control">
                        <!--<option value="1">超级管理员</option>
                        <option value="2">管理员</option>
                        <option value="3">测试</option>-->
                    </select>
                </div>
                <button type="button" class="btn submit goodBack">查询</button>
            </form>
            <div class="listBanner col-lg-12">
        
            </div>
             <!--分页 .yn_public_page-->
            <div class="yn_public_page">
                <div class="pageTotal pull-left">共 <a></a> 条数据,当前显示第 <small></small> 页,共 <span></span> 页</div>
                <ul class="page pull-right" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
                <div class="clear"></div>
            </div>
            
       </div>
      
    </div>
    <div class="loading">
        <div class="actingCon pcactingCon">
                <div class="img"></div>
                <p>加载中...</p>
        </div>
    </div>
     <!--增加工号-->
	<div class="modal fade" id="role_add" class="internet_bing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">添加工号</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="new_login_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工号编码:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="login_no" />
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-3 control-label">工号名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="login_name" />
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-3 control-label">密码:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">确认密码:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="password_confirmation" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色:</label>
                            <div class="col-sm-9">
                            <select name="role_id" class="form-control">
                                <!--<option value="1">超级管理员</option>
                                <option value="2">管理员</option>
                                <option value="3">测试</option>-->
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">区域:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control regionGroup_text" disabled>
                                <input type="text" class="form-control regionGroup_id hide" name="group_id">
                            </div>
                            <button type="button" class="btn goodBack regionClick" data-toggle="modal" data-target="#add_region_modal">请选择区域</button>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属单位:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="s_region_code_info_id">
                                    
                                </select>
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效标志:</label>
                            <div class="col-sm-9">
                                <select name="valid_flag" class="form-control">
                                    <option value="1">有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label class="col-sm-3 control-label">创建日期:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="created_at"/>
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label class="col-sm-3 control-label">更新时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="update_at"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效开始时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control datetimepicker" name="valid_begin"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效结束时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control datetimepicker" name="valid_end"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述:</label>
                            <div class="col-sm-9">
                                <input required="required" class="form-control" name="describe"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--编辑工号-->
    <div class="modal fade" id="role_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">编辑工号</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="edit_login_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工号编码:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="login_no" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工号名称:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="login_name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色:</label>
                            <div class="col-sm-9">
                                <select name="role_id" class="form-control">
                                    <!--<option value="1">超级管理员</option>
                                    <option value="2">管理员</option>
                                    <option value="3">测试</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">区域:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control regionGroup_text" disabled>
                                <input type="text" class="form-control regionGroup_id hide" name="group_id">
                            </div>
                            <button type="button" class="btn goodBack regionClick" data-toggle="modal" data-target="#edit_region_modal">请选择区域</button>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属单位:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="s_region_code_info_id">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效标志:</label>
                            <div class="col-sm-9">
                                <select name="valid_flag" class="form-control">
                                    <option value="1">有效</option>
                                    <option value="0">无效</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label class="col-sm-3 control-label">创建日期:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="created_at"/>
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label class="col-sm-3 control-label">更新时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="update_at"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效开始时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control datetimepicker" name="valid_begin"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效结束时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control datetimepicker" name="valid_end"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述:</label>
                            <div class="col-sm-9">
                                <input required="required" class="form-control" name="describe"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--添加获取区域-->
    <div class="modal fade" id="add_region_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">区域选择</h4>
                </div>
                <div class="modal-body">
                    <div class="region_station">
                        <!--<div class="choose-site">
                            <div class="tab-top">
                                <input type="radio" value="1" name="radio"/>
                                <span class="station-all">河南省</span>
                            </div>
                            <div class="search-station">
                                <div class="list-station">
                                    <div class="tab-station">
                                        <input type="radio" value="1" name="radio"/>
                                        <p class="list-city" style="display: inline;">郑州市</p>
                                    </div>
                                    <div class="line"></div>
                                    <div class="tab-station">
                                        <input type="radio" value="2" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                    <div class="tab-station">
                                        <input type="radio" value="3" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="choose-site">
                            <div class="tab-top">
                                <input type="radio" value="1" name="radio"/>
                                <span class="station-all">山西省</span>
                                
                            </div>
                            <div class="search-station">
                                <div class="list-station">
                                    <div class="tab-station">
                                        <input type="radio" value="1" name="radio"/>
                                        <p class="list-city" style="display: inline;">郑州市</p>
                                    </div>
                                     <div class="line"></div>
                                    <div class="tab-station">
                                        <input type="radio" value="2" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                    <div class="tab-station">
                                        <input type="radio" value="3" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sure">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑获取区域-->
    <div class="modal fade" id="edit_region_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">区域选择</h4>
                </div>
                <div class="modal-body">
                    <div class="region_station">
                        <!--<div class="choose-site">
                            <div class="tab-top">
                                <input type="radio" value="1" name="radio"/>
                                <span class="station-all">河南省</span>
                            </div>
                            <div class="search-station">
                                <div class="list-station">
                                    <div class="tab-station">
                                        <input type="radio" value="1" name="radio"/>
                                        <p class="list-city" style="display: inline;">郑州市</p>
                                    </div>
                                    <div class="line"></div>
                                    <div class="tab-station">
                                        <input type="radio" value="2" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                    <div class="tab-station">
                                        <input type="radio" value="3" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="choose-site">
                            <div class="tab-top">
                                <input type="radio" value="1" name="radio"/>
                                <span class="station-all">山西省</span>
                                
                            </div>
                            <div class="search-station">
                                <div class="list-station">
                                    <div class="tab-station">
                                        <input type="radio" value="1" name="radio"/>
                                        <p class="list-city" style="display: inline;">郑州市</p>
                                    </div>
                                     <div class="line"></div>
                                    <div class="tab-station">
                                        <input type="radio" value="2" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                    <div class="tab-station">
                                        <input type="radio" value="3" name="radio"/>
                                        <p class="list-city" style="display: inline;">中原区</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sure">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--查询-->
<script type="text/html" id="search_role_select">
    <option value="">请选择角色</option>
    {{each allRole as role_select index}}
        <option value="{{role_select.id}}">{{role_select.role_name}}</option>
    {{/each}}
</script>
<script type="text/html" id="role_select">
    {{each allRole as role_select index}}
        <option value="{{role_select.id}}">{{role_select.role_name}}</option>
    {{/each}}
</script>
 <script id="role_table" type="text/html">
            {{if users.length > 0}}
                {{each users as user_msgs index}}
                <div class="col-lg-12 banner">
                    <div class="col-lg-3 list">
                        <p class="bold">
                            <span class="title goodBack"></span>
                            <span class="login_name">{{user_msgs.login_name}}</span>
                            <span class="login_no">({{user_msgs.login_no}})</span>
                            <span class="role_name">{{if user_msgs.role_name}}{{user_msgs.role_name.role_name}}{{else}}---{{/if}}</span>
                        </p>
                        <p>
                            {{user_msgs.valid_begin.substr(0,4)}}年{{user_msgs.valid_begin.substr(5,2)}}月{{user_msgs.valid_begin.substr(8,2)}}日
                            -
                            {{user_msgs.valid_end.substr(0,4)}}年{{user_msgs.valid_end.substr(5,2)}}月{{user_msgs.valid_end.substr(8,2)}}日
                        </p>
                    </div>
                    <div class="col-lg-3 listBorder">
                        <span>描述：</span>
                        <br/>
                        <span class="centerRight">{{user_msgs.describe}}</span>
                    </div>
                    <div class="col-lg-2 listBorder">
                        <span>IP地址：</span>
                        <br/>
                        <span class="centerRight">{{user_msgs.ip_address}}</span>
                    </div>
                    <div class="col-lg-2 listBorder">
                        <span>有效标志</span>
                        <br/>
                    {{if user_msgs.valid_flag == '1'}}<span class="goodColor centerRight cursorPointer">启用</span>{{else}}<span class="badColor centerRight cursorPointer">禁用</span>{{/if}}
                    </div>
                    <div class="col-lg-2 listBorder">
                        <span class="edit cursorPointer" value="{{user_msgs.id}}" data-toggle="modal" data-target="#role_edit">
                             <img src="<%= image_path("edit.png")%>" />
                        </span>
                        <div class="line"></div>
                        <span class="reset cursorPointer" value="{{user_msgs.id}}">重置密码</span>
                    </div>
                </div>
                {{/each}}
            {{else}}
               <div class="col-lg-12 banner" style="text-align:center;line-height:100px;">
                   暂无数据
                </div>
            {{/if}}
</script>
<script type="text/html" id="group_region">
    {{each d_region_code as region_code index}}
        {{if region_code.father_region_id == "9999"}}
            <div class="choose-site">
                <div class="tab-top">
                    <input type="radio" value="{{region_code.id}}" name="radio"/>
                    <span class="station-all">{{region_code.region_name}}</span>
                </div>
                <div class="search-station">
                    {{else if region_code.father_region_id == "1"}}
                        <div class="list-station">
                            <div class="tab-station">
                                <input type="radio" value="{{region_code.id}}" name="radio"/>
                                <p class="list-city" style="display: inline;">{{region_code.region_name}}</p>
                            </div>
                            {{else}}
                                <div class="tab-station">
                                    <input type="radio" value="{{region_code.id}}" name="radio"/>
                                    <p class="list-city" style="display: inline;">{{region_code.region_name}}</p>
                                </div>
                        </div>
                    </div>
            </div>
        {{/if}}
    {{/each}}
  
</script>

<!--单位-->
<script type="text/html" id="s_region_code_info">
    {{each s_region_code_info as region_code_info index}}
        <option value="{{region_code_info.id}}">{{region_code_info.unit_name}}</option>
    {{/each}}
</script>