<div id="add" class="overflows">
	<div class="addno">
		<span class="glyphicon glyphicon-edit"></span>增加工号
	</div>
	<%= form_for(@d_login_msg) do |f| %>
	    <% if @d_login_msg.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@d_login_msg.errors.count, "error") %> prohibited this d_login_msg from being saved:</h2>
			  <ul>
			  <% @d_login_msg.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
	    <% end %>
		<div class="form-group">
			<label class="col-xs-2 control-label" id="uname" for="login_no">工号编码:</label>
			<div class="col-xs-8">
				<%= f.text_field :login_no,id:"login_no",class:"form-control",required:"true",autofocus:"true", placeholder:"请输入工号编码",pattern:"^[a-zA-Z0-9]{2,16}$"%>
				<label id="login_no_Tip" class="warn col-xs-5 control-default">请输入2至16位的英文或数字.</label>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" id="uname1" for="login_name">工号名称:</label>
			<div class="col-xs-8">
				<%= f.text_field :login_name,id:"login_name",required:"true",class:"form-control",placeholder:"请输入工号名",pattern:"^[\u4e00-\u9fa5]{2,8}$" %>
				<label id="login_nameTip" class="warn col-xs-5 hide control-default">请输入2至8位汉字.</label>
		   </div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" id="upwd" for="password">密码:</label>
			<div class="col-xs-8">
			   <%= f.password_field :password,id:"password",required:"true",class:"form-control",placeholder:"请输入密码",pattern:"^[a-zA-Z0-9]{2,16}$" %>
			   <label id="passwordTip" class="warn col-xs-5 hide control-default">请输入2至16位的数字.</label>
			</div>
			
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" id="upwd1" for="password_confirmation">确认密码:</label>
			<div class="col-xs-8">
				 <%= f.password_field :password_confirmation,id:"password_confirmation",required:"true",class:"form-control",placeholder:"请输入密码",pattern:"^[a-zA-Z0-9]{2,16}$" %>
				 <label id="password_confirmationTip" class="warn col-xs-5 hide control-default">请输入2至16位的数字.</label>
			</div>
			
		</div>
	    <div class="form-group">
			<label class="col-xs-2 control-label" for="group_id">区域归属:</label>
			<div class="col-xs-8 selectTime">
				<div class="col-xs-4 areaAffiliation">
					<input class="form-control area" required="true" pattern="^([\u4e00-\u9fa5]{2,16})$" placeholder="请点击选择勾选区域归属" />
					<%= f.text_field :group_id,class:"chooseBox hide" %>
				</div>
				<div class="col-xs-2 choice">
					<span class="btn btn-primary">选择</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" for="role_id">角色:</label>
			<div class="col-xs-8" id="roleId">
				<%= select_tag "role_id", options_from_collection_for_select(@s_role_msgs, "id", "role_name"),{name:"d_login_msg[s_role_msg_id]"} %>
			</div>
			<label id="role_idTip" class="warn col-xs-5 hide control-default">请输入你的角色编码</label>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" for="valid_flag">有效标志:</label>
			<div class="col-xs-8" id="validLogo">
				
				<%= select_tag "d_login_msg[valid_flag]", options_for_select([["有效","1"], ["无效","0"]]) %>
			</div>
			<label id="valid_flagTip" class="warn col-xs-5 hide control-default">请输入你的有效标志</label>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" for="valid_begin">有效开始时间:</label>
			<div class="col-xs-8">
				<%= f.text_field :valid_begin,id:"valid_begin",class:"form-control some_class",required:"true",placeholder:"请输入有效开始时间" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" for="valid_end">有效结束时间:</label>
			<div class="col-xs-8 selectTime">
				<%= f.text_field :valid_end,id:"valid_end",class:"form-control some_class",required:"true",placeholder:"请输入有效结束时间" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label" for="describe">描述:</label>
			<div class="col-xs-8">
				<%= f.text_field :describe,class:"form-control"%>
			</div>
		</div>
		<div class="form-group">
			<div class="submit col-xs-5">
				<%= f.submit "注册",class:"form-control btn btn-primary btn-block"%>
				<%= link_to '返回', d_login_msgs_path,class:"btn btn-primary back"  %>
			</div>
		</div>
	<% end %>
	<div class="addEdit col-xs-5 col-xs-offset-2">
		<div class="sBtn">
			
		</div>
	</div>
</div>
