<%= form_for(@s_subsys_list) do |f| %>
  <% if @s_subsys_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s_subsys_list.errors.count, "error") %> prohibited this s_subsys_liste from being saved:</h2>

      <ul>
      <% @s_subsys_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sys_name %><br>
    <%= f.text_field :sys_name %>
  </div>
  <div class="field">
    <%= f.label :sys_url %><br>
    <%= f.text_field :sys_url %>
  </div>
  <div class="field">
    <%= f.label :mark %><br>
    <%= f.text_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
