<p id="notice"><%= notice %></p>

<h1>Listing S Subsys Listes</h1>

<table>
  <thead>
    <tr>
      <th>Sys name</th>
      <th>Sys url</th>
      <th>Mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s_subsys_lists.each do |s_subsys_liste| %>
      <tr>
        <td><%= s_subsys_liste.sys_name %></td>
        <td><%= s_subsys_liste.sys_url %></td>
        <td><%= s_subsys_liste.mark %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S subsys liste', new_s_subsys_list_path %>
