<p id="notice"><%= notice %></p>

<p>
  <strong>Sys name:</strong>
  <%= @s_subsys_list.sys_name %>
</p>

<p>
  <strong>Sys url:</strong>
  <%= @s_subsys_list.sys_url %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @s_subsys_list.mark %>
</p>

<%= link_to 'Edit', edit_s_subsys_list_path(@s_subsys_liste) %> |
<%= link_to 'Back', s_subsys_lists_path %>
