#d_login_msg ,#s_region_code_info{
    width: 100%;
    height: 100%;
}
#d_login_msg .container,#s_region_code_info .container{
    height: 100%;
    width: 100%;
	padding-right:0;
}
#d_login_msg .container .newsRight .listBanner,#s_region_code_info .container .newsRight .listBanner {
    margin: 10px 0;
    padding: 0;
    overflow-y: auto;
}
#d_login_msg .container .newsRight .listBanner .list,#s_region_code_info .container .newsRight .listBanner .list {
    border-right: 1px solid #f5f5f5;
    padding:0;
    height: 100%;
    padding-top:14px;
}
#d_login_msg .container .newsRight .listBanner .list p span.title,#s_region_code_info .container .newsRight .listBanner .list p span.title {
    width: 5px;
    height: 13px;
    display: inline-block;
    font-size: 16px;
    vertical-align: -4%;
    margin-right: 4px;
}
#d_login_msg .container .newsRight .listBanner span.edit,#s_region_code_info .container .newsRight .listBanner span.edit{
    display: inline-block;
    color: #3a7bd5;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 14px;
}
#d_login_msg .container .newsRight .banner ,#s_region_code_info .container .newsRight .banner{
    height: 100px;
    text-align:left;
}
#d_login_msg .container .newsRight .banner .listBorder,#s_region_code_info .container .newsRight .banner .listBorder {
    border-right:1px solid #f5f5f5;
    margin: 20px 0 10px 0;
}
#d_login_msg .container .newsRight .banner .listBorder span:nth-of-type(1){
    color: #666666;
}
#d_login_msg .container .newsRight .banner .list p:nth-of-type(2) {
    padding-left: 5px;
    color: #999999;
}
#d_login_msg .container .newsRight .banner .listBorder span:nth-of-type(2){
    display:inline-block;
    text-align: center;
}
#s_region_code_info .container .newsRight .banner .listBorder span:nth-of-type(2){
    display:inline-block;
    text-align: center;
}
#d_login_msg .container .newsRight .banner .listBorder:nth-last-of-type(1){
    height: 100%;
    margin: 0;
}
#s_region_code_info .container .newsRight .banner .listBorder:nth-last-of-type(1) {
 	height: 100%;
    margin: 0;	
}
#d_login_msg .container .newsRight .banner .listBorder:nth-last-of-type(1) span.edit{
    height: 100%;
    line-height: 100px;
}
#s_region_code_info .container .newsRight .banner .listBorder:nth-last-of-type(1) span.edit{
    height: 100%;
    line-height: 100px;
}
#d_login_msg .container .newsRight .banner .listBorder:nth-last-of-type(1) span.edit img {
    height: 16px;
    vertical-align: -2%;
}
#s_region_code_info .container .newsRight .banner .listBorder:nth-last-of-type(1) span.edit img {
    height: 16px;
    vertical-align: -2%;
}
#d_login_msg .container .newsRight .banner .listBorder .centerRight {
    width: 100%;
}
#s_region_code_info .container .newsRight .banner .listBorder .centerRight {
    width: 100%;
}
#d_login_msg .container .newsRight .banner .listBorder:nth-last-of-type(1) span.reset{
    height: 100%;
    line-height: 100px;
    color: #3a7bd5;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}
#s_region_code_info .container .newsRight .banner .listBorder:nth-last-of-type(1) span.reset{
    height: 100%;
    line-height: 100px;
    color: #3a7bd5;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}
#d_login_msg .modal-body button.regionClick {
    border:none;
}
#d_login_msg .modal {
  bottom: 20px;
}
#d_login_msg .modal-open .modal {
    overflow-y:auto;
}
#d_login_msg .modal {
    overflow-y: auto;
}