@media (min-width:768px) {
	#GIS_map .col-sm-12 {
		/*width: 750px;*/
    height: 100%;
	}
}
  #GIS_map #portalsHeader {
    margin:0;
    padding: 0;
  }
  #GIS_map #mapContainer{
			width: 100%;
			height: 100%;
			margin: 0px;
			padding: 0px;
		}
    #GIS_map .container.col-lg-12 {
        padding: 0;
    }
	#GIS_map .exchange-maptype{
			background-color: rgba(255,255,255,.4);position: absolute;top: 10px;right: 10px;height: 36px;width: 72px;z-index: 999;padding: 2px;border-radius: 6px;border: none;
		}

	#GIS_map .maptype{
			color: #fff;font-size: 1.0em;font-weight: 700;background-color: rgba(0,60,136,.5);line-height: 32px;text-align: center;cursor: pointer;border-radius: 6px;
		}

	#GIS_map .maptype:hover{
			background-color: rgba(0,60,136,.8)
		}

		.ol-popup {
        position: absolute;
        background-color: #f5f5f5;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 500px;
        color:#333;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    #popup-content > .pull-left, #popup-content > .pull-right {
        box-shadow: 0px 0px 1px 1px #f00;
        margin-top: 14px;
        background: #f7f7f7;
        max-width:224px;
      }
      #popup-content p {
        padding-left: 4px;
        margin: 2px;
      }
      #popup-content p.title {
          background: #4da904;
          height: 30px;
          line-height: 30px;
          margin:0;
      }
      .clear {
        clear: both;
      }
      .line{
        background: #ccc;
        width: 1px;
        height: 10px;
        display: inline-block;
        height: 24px;
        vertical-align: 22%;
      }
     #GIS_map .monitor-left, #GIS_map .monitor-right {
        border: 1px solid #d2dde1;
        position: fixed;
        top:110px;
        bottom:20px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        padding:0;
        color:#333;
        overflow:hidden;
        overflow-y:auto;
        left:-350px;
        display:none;
      }
      #GIS_map .monitor-left {
      /*  left: -350px;*/
      }
      #GIS_map .monitor-left > .top {
        padding:10px 0;
        font-size: 13px;
      }
      #GIS_map .monitor-left > .top .line {
        height:20px;
        vertical-align:0;
      }
      #GIS_map .monitor-right {
       /* right: 10px;*/
        background: #f0f0f0;
      }
     #GIS_map .top {
        padding-top: 10px;
        text-align: center;
      }
      #GIS_map .monitor-right .top .line {
        vertical-align:-14%;
      }
     #GIS_map .top .list {
        display: inline-block;
        text-align: center;
        padding:2px 7px;
      }
      #GIS_map .top .list p {
        margin: 0;
        cursor: pointer;
      }
      #GIS_map .title {
        height: 28px;
        line-height: 28px;
        background: #7494c0;
        color: #fff;
        padding: 0 10px;
      }
      #GIS_map .table thead {
      	color:#666;
        background: #F5F5F5;
        font-size: 13px;
      }
      #GIS_map .table thead th {
        text-align: center;
        font-weight: 400;
      }
      #GIS_map .table>thead>tr>th {
        border-bottom:none;
      }
       #GIS_map .table tbody td {
       	font-size: 13px;
         text-align: center;
       }
       #GIS_map .monitor-left .title .pull-right{
       		font-size: 13px;
       }
       #GIS_map .monitor-left .top .list{
       	border-radius: 2px;
       }
       #GIS_map .monitor-left .top .whole{
       	color: #404040;
       }
       #GIS_map .monitor-left .top .alarm_active{
       	font-size: 12px;
       }
       #GIS_map .monitor-left .top .whole.alarm_active{
       	background: #404040;
       	color: #fff;
       }
       #GIS_map .monitor-left .top .urgent{
       	color: #F15556 ;
       }
       #GIS_map .monitor-left .top .urgent.alarm_active{
       	background: #F15556;
       	color: #fff;
       }
       #GIS_map .monitor-left .top .medium{
       	color:#f29a76 ;
       }
       #GIS_map .monitor-left .top .medium.alarm_active{
       	background: #f29a76;
       	color: #fff;
       }
       #GIS_map .monitor-left .top .commonly{
       	color:#FFC91F;
       }
       #GIS_map .monitor-left .top .commonly.alarm_active{
       	background: #FFC91F;
       	color: #fff;
       }
       #GIS_map .monitor-left .top .normal{
       	color:#12e06e;
       }
       #GIS_map .monitor-left .top .normal.alarm_active{
       	background: #12e06e;
       	color: #fff;
       }
       #GIS_map .monitor-right .top .list {
         padding: 4px 20px;
         border-radius: 2px;
       }
       #GIS_map .monitor-right .top {
         background: #fff;
         padding-bottom: 6px;
       }
       #GIS_map .monitor-right .top .details {
         color: #4da904;
       }
       #GIS_map .monitor-right .content .list .pull-left span, #GIS_map .bs-example-modal-sm .modal-body .list .pull-left span {
         width: 4px;
         height: 10px;
         background: #4da904;
         display: inline-block;
       }
      #GIS_map .monitor-right .content {
         padding-top: 10px;
         padding-left: 0px;
         padding-right: 0px;
         font-size: 13px;
       }
       #GIS_map .active-report{
       	    color: #fff;
	       	background: -webkit-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -moz-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -o-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -webkit-gradient(linear, 0 0, 100% 0, from(#3a7bd5), to(#00d2ff));
	       	background: linear-gradient(left, #3a7bd5, #00d2ff); 

       }
       #GIS_map .monitor-right .content .content-top {
         background: #fff;
       }
       #GIS_map .monitor-right .content .content-bottom {
         margin-top:10px;
         background: #fff;
       }
       #GIS_map .monitor-left .title{
       	height: 36px;
       	line-height: 36px;
       }
       #GIS_map .monitor-right .title {
         margin-top: 10px;
         font-size: 13px;
         height: 30px;
         line-height: 30px;
       }
      
       #GIS_map .mapList, #GIS_map .mapListHr {
          height:40px;
          line-height:40px;
          text-align:center;
          color:#fff;
          position:absolute;
          top:20px;
          border-radius:6px;
          font-size:0;
       }
       #GIS_map .mapList .line, #GIS_map .mapListHr .line {
          margin: 0;
          height: 20px;
          position: absolute;
          top: 10px;
          background: #eeeeee;
       }
       #GIS_map .mapList {
         left:30%;
         top: 33px;
       }
      #GIS_map .mapListHr {
            right: 13%;
            top: 33px;
        }
       #GIS_map .mapList span, #GIS_map .mapListHr span {
         cursor:pointer;
         display:inline-block;
         padding:0 10px;
         color: #333;
         background:#ffffff;
         margin:0;
         border-radius:6px;
         font-size:16px;
       }
       #GIS_map .mapList span {
         width: 140px;
       }
       #GIS_map .mapListHr span {
         width: 80px;
       }
       #GIS_map .mapList span.backRgb, #GIS_map .mapListHr span.backRgb {
          /* background: none;*/
           color: #90c320;
       }
      
       #GIS_map .mapList span.backGrad, #GIS_map .mapList span.backGrad {
           color:#90c320;
        }
        #GIS_map .mapList span img {
          height: 24px;
          vertical-align: -14%;
          margin-right: 8px;
        }
        /*模态框*/
        #GIS_map .modal-header h4.modal-title {
            color:#333;
        }
        #GIS_map .modal-body td {
            color:#333333;
        }
        /*运维工单完成率*/
        #GIS_map #opraWork .modal-dialog {
            width:1189px;
            margin:30px auto;
        }
        #GIS_map #popup-content {
            margin:5px 0;
        }
       #GIS_map #pollute_alertFirst .modal-footer, #pollute_alertSecond .modal-footer, #opraWork .modal-footer {
            text-align:center;
        }
        /*地图弹出框样式*/
       #GIS_map #mapAlert {
            background:#f5f5f5;
        }
      #GIS_map #mapAlert p, #mapAlert div {
            color:#333;
        }
     #GIS_map #mapAlert > .title {
            text-align:center;
            background:none;
            color:#202020;
            font-size:16px;
        }
      #GIS_map #mapAlert .top .top-left p.pollute_level {
            padding:0 5px;
            height:26px;
            line-height:26px;
            color:#fff;
            font-size:13px;
            border-radius:15px;
	       	background: -webkit-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -moz-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -o-linear-gradient(left, #3a7bd5, #00d2ff);
	       	background: -webkit-gradient(linear, 0 0, 100% 0, from(#3a7bd5), to(#00d2ff));
	       	background: linear-gradient(left, #3a7bd5, #00d2ff); 
        }
       #GIS_map #mapAlert .top {
            background:#fff;
            padding-left:0;
            padding-right:0;
            border-radius:4px;
        }
      #GIS_map #mapAlert .top .stationType {
            height:30px;
            line-height:30px;
            color:#fff;
            border-radius:15px;
            border:1px solid #3a7bd5;
            padding:0 16px;
            color:#3a7bd5;
            position:absolute;
            right:2px;
            background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-top-color:#00d2ff;
            border-left-color:#3a7bd5;
            border-right-color:#3a7bd5;
            border-bottom-color:#3a7bd5;
       }
     
       #GIS_map #mapAlert .top .mapAlert_list.col-lg-3 {
            width:26%;
            padding:10px 15px;
        }
      #GIS_map #mapAlert .top .mapAlert_list.col-lg-4 {
        width:46%;
       }
      #GIS_map #mapAlert .top .mapAlert_list img{
        height:16px;
       }
      #GIS_map #mapAlert .top .mapAlert_list .pollute_source {
        border-radius:15px;
        height:26px;
        line-height:26px;
        color:#fff;
       }
      #GIS_map #mapAlert .top .mapAlert_list .aqi_class {
        font-size:13px;
       }
      #GIS_map #mapAlert .top .line.col-lg-1 {
        padding:0;
        height:70px;
        display:inline-block;
        margin:0;
        margin-top:14px;
       }
    #GIS_map #mapAlert .titleList {
        padding:15px 0 6px 0;
        font-size:14px;
        color:#666666;
     }
     #GIS_map #mapAlert .titleList .listBack {
        width: 5px;
        height: 13px;
        display: inline-block;
        font-size: 16px;
        vertical-align: -4%;
        margin-right: 5px;
      }
     #GIS_map #mapAlert .alarm_content {
        height:40px;
        line-height:40px;
        padding-left:5px;
        background:#fff;
        font-size:13px;
        color:#333;
        border-radius:4px;
      }
     #GIS_map #mapAlert .Table_work.col-lg-12 {
        backgound:#fff;
        padding-top:10px;
        border-radius:4px;
        padding-bottom:0;
        background:#fff;
        padding-left:10px;
        padding-right:10px;
      }
     #GIS_map #mapAlert .Table_work.col-lg-12 thead {
        background:#8c95aa;
        color:#fff;
        font-size:13px;
      }
    #GIS_map #mapAlert .top .top-left p.aqi {
        color:#333333;
        font-size:22px;
     }
    #GIS_map #mapAlert .top .mapAlert_list .latLng p {
        font-size:13px;
        color:#666666;
        text-align:left;
        margin:0;
        padding:5px 0;
     }
    #GIS_map #mapAlert .top .mapAlert_list .latLng .longitude, #GIS_map #mapAlert .top .mapAlert_list .latLng  .latitude {
        color:#333333;
        padding-left:10px;
     }
    #GIS_map #mapAlert .top .mapAlert_list p.station_location {
        margin:0;
     }
    #GIS_map #mapAlert .top .mapAlert_list p.station_location img {
        padding-right:10px;
     }
   #GIS_map #mapAlert .top .mapAlert_list p.chief_pollutant {
        font-size:20px;
        color:#202020;
        border-bottom:1px solid #ccc;
        margin:0;
        padding-bottom:12px;
        margin-bottom:8px;
    }
    #GIS_map .windyAlert {
         background: rgba(255,255,255,0.9);
         position: absolute;
         top: 0;
         left:0;
         padding: 5px;
         border-radius:2px;
         display: none;
         color:#333;
         z-index:1;
    }
    /*气象六参*/
   #GIS_map .monitorAir_six {
         position: absolute;
         top: 40%;
         right: 12px;
         background:#fff;
         text-align: center;
       
         border-radius:4px;
         font-size:0;

       }
      #GIS_map .monitorAir_six p {
         cursor:pointer;
         height: 36px;
         line-height: 36px;
         margin:0;
         padding:0 12px;
         font-size:14px;
         border-bottom:1px solid #eeeeee;
       }
       #GIS_map .monitorAir_six p:nth-last-of-type(1) {
         border-bottom:none;
       }
      #GIS_map .monitorAir_six p.backGrad {
            background: #90c320;
            color:#fff;
            border:none;
        }
       
      #GIS_map .monitorAir_six p:nth-of-type(1){
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
      }
      #GIS_map .monitorAir_six p:nth-last-of-type(1) {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
      }
        /*报警、报表*/
       #GIS_map .positionInfo_alarm, .positionInfo_table {
            position: absolute;
            top: 38%;
            left: 12px;
            text-align: center;
            border-radius: 4px;
            padding: 0px 12px;
            background: #8fc31f;
            height: 34px;
            line-height: 34px;
            color: #fff;
            width: 86px;
        }
     
     
       #GIS_map .positionInfo_table {
         top: 28%;
        }
        #GIS_map .container .mapLogo {
            position:absolute;
            top: 20px;
            left: 3%;
            padding: 10px;
            border-radius: 6px;
            background: #fff;
        }
        #GIS_map .container .mapLogo img {
            height: 46px;
        }


        /*自定义标签的样式*/
        /*Info提示框*/
      .overlayAlet_info {
        position: relative;
        cursor: pointer;
        z-index:3;
      }
      .overlayAlet_info .infoAqi {
        background: #999999;
        height: 24px;
        line-height: 24px;
        padding:0 6px;
        text-align: center;
        left: 16%;
        position: absolute;
        top: -28px;
        color:#333333;
      }
      .overlayAlet_info .infoName {
        padding:0 2px;        
        border: 1px solid #ddd;
        background: rgba(255,255,255,0.8);
      }
      .overlayAlet_info .infoAqi:after {
          content: '';
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-top: 5px solid #999999;
          position: absolute;
          left: 10px;
          top: 24px;
      }
      .overlayAlet_info .infoAqi.aqi1,  #GIS_map #mapAlert .top .top-left p.pollute_level.aqi1 {
        background: #00e400;
      }
      .overlayAlet_info .infoAqi.aqi2, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi2 {
        background: #ffff00;
      }
      .overlayAlet_info .infoAqi.aqi3, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi3 {
        background: #ff7e00;
      }
      .overlayAlet_info .infoAqi.aqi4, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi4 {
        background: #ff0000;
      }
      .overlayAlet_info .infoAqi.aqi5, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi5 {
        background: #99004c;
      }
      .overlayAlet_info .infoAqi.aqi6, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi6 {
        background: #7e0023;
      }
      .overlayAlet_info .infoAqi.aqi7, #GIS_map #mapAlert .top .top-left p.pollute_level.aqi7 {
        background:  #999999;
      }
      .overlayAlet_info .infoAqi.aqi1:after {
        border-top:5px solid #00e400;
      }
      .overlayAlet_info .infoAqi.aqi2:after {
        border-top:5px solid #ffff00;
      }
      .overlayAlet_info .infoAqi.aqi3:after {
        border-top:5px solid #ff7e00;
      }
      .overlayAlet_info .infoAqi.aqi4:after {
        border-top:5px solid #ff0000;
      }
      .overlayAlet_info .infoAqi.aqi5:after {
        border-top:5px solid #99004c;
      }
      .overlayAlet_info .infoAqi.aqi6:after {
        border-top:5px solid #7e0023;
      }
       .overlayAlet_info .infoAqi.aqi7:after {
        border-top:5px solid #999999;
      }


      