body{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.backRgb{
    background: rgb(0,0,0,0.1);    /*不支持rgba的浏览器*/
     background: rgba(0,0,0,.1);  /*支持rgba的浏览器*/
	 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff); /* IE8 */
}
#portalIframe {
    height: 100%;
    width: 100%;
    color: #fff;
}
#portalIframe iframe {
    width: 100%;
    height: 100%;
}
#portalIframe .header {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background:#3a7bd5;    /*IE8*/
    background: -webkit-linear-gradient(left, #3a7bd5 , #00d2ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3a7bd5 , #00d2ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3a7bd5 , #00d2ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3a7bd5 , #00d2ff); /* 标准的语法 */
    
    position: fixed;
    top: 0;
}
#portalIframe .header1{
    z-index:2;
    opacity:1;
    position: inherit;
} 
#portalIframe .header1 .listMenu span, #portalIframe .header1 .listMenu ul li a {
    color: #fff;
    font-size: 16px;
    padding:0;
}
#portalIframe .header2{
    z-index:1;
    /*position: fixed;
    top: 0;*/
    display: none;
}
#portalIframe .header2 .logo a{
    font-size:18px;
    color:#fff;
}
#portalIframe .header .logo {
    height: 100%;
    display: inline-block;
}
#portalIframe .header .logo {
    padding: 0;
}
#portalIframe .header .logo img {
    height: 50px;
    vertical-align:middle;
}
#portalIframe .header .logo span {
    font-size: 18px;
    padding-left: 24px;
}
#portalIframe .header .middle {
    background: rgb(255,255,255,0.1);    /*不支持rgba的浏览器*/
    background: rgba(255,255,255,.1);  /*支持rgba的浏览器*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff); /* IE8 */
    height:50px;
}
#portalIframe .header .middle .alarm #mar {
    margin: 0;
}
#portalIframe .header .middle .alarm #mar li a {
    color: #fff;
}
#portalIframe .header .middle .title {
    font-size: 18px;
}
#portalIframe .header .middle .head {
    line-height: 12px;
    padding: 0;
    font-size:12px;
}
#portalIframe .header .middle .head img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 4px;
}
#portalIframe .header .list {
    font-size: 16px;
    padding:0;
}
#portalIframe .header .list span {
    cursor: pointer;
    padding: 0;
    position: relative;
    display: inline-block;
    height:50px;
    line-height:50px;
   /* padding:0 27px;*/
}
#portalIframe .header1 .list span {
    /*padding:0 14px;*/

}
#portalIframe .header .list span a {
    color: #fff;
}
#portalIframe .header .off img {
    height: 20px;
    padding-right:2px;
}
#portalIframe .container {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}
#portalIframe .container iframe {
    width: 100%;
    height: 100%;
}
#portalIframe .header1 .listMenu {
   padding: 0;

}
#portalIframe .header1 .listMenu button {
    background: none;
    border: none;
}
#portalIframe .header1 .listMenu ul {
    margin:0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 4;
}
#portalIframe .header1 .listMenu ul li a{
   

}
#portalIframe .header1 .hover:hover {

    background:rgba(0,0,0,.1);
}
 #portalIframe .header .box{height: 24px;overflow: hidden;margin-top:17px;padding-right:0;}
 #portalIframe .header  .box .block{position: relative;height: 24px;overflow: hidden;}
 #portalIframe .header  .box .item{height: 24px;color: #fff;line-height: 24px;text-align: left;}