

/*#portalsHeader {
    width: 100%;
    height: 100%;
}
#portalsHeader .container {
    height: 100%;
    width: 100%;
}
#portalsHeader .newsLeft {
    border-right:1px solid #f5f5f5;
    height: 100%;
    padding-top: 25px;
    color:#333;
}
#portalsHeader .newsRight {
    height: 100%;
    padding-top: 71px;
    color: #333;
}
#portalsHeader .newsLeft > p.title {
   height: 36px;
   line-height: 36px;
   font-size:16px;
}
#portalsHeader .newsLeft .content {
    background:#f5f5f5;
    padding: 14px 5px;
    height: 70%;
}
#portalsHeader .content .news {
    margin: 10px 0;
}
#portalsHeader .newsRight img{
    width: 100%;
}
#portalsHeader .newsRight span {
    text-align: center;
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
}
#portalsHeader .newsRight .banner,#portalsHeader .newsRight .banerFinal {
    padding: 0;
    margin:5px;
    box-shadow: 20px 20px 40px -24px rgba(0, 0, 0, 0.3);
}
#portalsHeader .newsRight .banner a, #portalsHeader .newsRight .banerFinal a {
    color:#333;
    display:inline-block;
    width:100%;
    height:100%;
}
*/

/*iframe*/
#headIndex .container {
    padding-top: 30px;
    min-width: 1204px;
    padding-right: 0;
}
#headIndex .container iframe {
    width: 100%;
    height: 100vh;
}

#headIndex .header .boxScroll{height: 24px;margin:24px auto;overflow: hidden;}
#headIndex .header .boxScroll .block{position: relative;height: 24px;overflow: hidden;}
#headIndex .header .boxScroll .item{height: 24px;text-align: center;}
#headIndex .header .boxScroll img {
    position: absolute;
    height: 18px;
    left: 70px;
    top: 2px;
}

/*时间轴样式*/

.timeLine {
    position: fixed;
    bottom: 0;
   /* left:10%; */
}
.timeLine .box { 
    width: 1436px; 
    height: 36px; 
   /* margin: 0 auto;  */
}
.timeLine .box .dateBox {
    color: #333;
    font-size: 20px;
}
.timeLine #progressTime_control { 
    float: left; width: 36px; height: 36px; background-image: url(img/play.png); 
    background-color: rgba(0,0,0,0.45); border: none; outline: none; position: relative; 
    cursor: pointer; box-sizing: border-box; background-size: 10px; background-repeat: no-repeat; 
    background-position: center; 
}
.timeLine #progressTime_control:before { 
    content: ''; width: 36px; height: 6px; background-color: #90c320; 
    position: absolute; left: 0; top: -6px; 
}
/*#progressTime_control:after { content: ''; width: 0; height: 0; border: 8px solid transparent; border-left: 12px solid #fff; position: absolute; left: 50%; margin-left: -6px; top: 50%; margin-top: -8px; }*/
.timeLine #progressTime_control:hover:after { border-left-color: #ccc; }

.timeLine .progressTime { /*filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;*/ 
    color: white; background: rgba(0,0,0,0.45); width: 1400px; height: 36px; 
    padding-top: 0px; padding-bottom: 0px; display: none; position: relative; float: left; 
}
.timeLine #progressTime_concent { width: 100%; height: 36px; margin: 0 auto; cursor: pointer; }
.timeLine #scrollBarBox { width: 100%; height: 6px; padding: 5px 0; position: absolute; top: -11px; background-color: transparent; z-index: 2; }
#scrollBar { width: 100%; height: 6px; background-color: #d3d3d3; cursor: pointer; position: absolute; top: 5px; }
.timeLine .timecode { width: 56px; height: 24px; background-color: #90c320; position: absolute; left: 0; top: -35px; color: #fff; text-align: center; cursor: pointer; display: none; }
.timeLine .timecode:after { content: ''; width: 0; height: 0; border: 5px solid transparent; border-top: 5px solid #90c320; position: absolute; left: 50%; bottom: -10px; margin-left: -5px; }
.timeLine #scroll_Track { width: 0px; height: 6px; background-color: #90c320; transition: all ease-in-out .25s; }
.timeLine #scroll_Thumb { height: 24px; width: 100px; text-align: center; line-height: 24px; background-color: #00d2ff; position: absolute; left: -25px; margin-top: -35px; cursor: pointer; color: #000; font-size: 12px; transition: all ease-in-out .25s; }
.timeLine #scroll_Thumb:after { content: ''; width: 0; height: 0; border: 5px solid transparent; border-top: 5px solid #00d2ff; position: absolute; left: 20px; bottom: -10px; }
/*#scroll_Thumb:hover { background-color: #ff4400; border: 1px solid #fff; }*/
.timeLine .time_slot p { float: left; line-height: 36px; width: calc(20% - 1px); border-left: 1px solid #ccc; margin: 0; text-align: center; cursor: pointer; font-size: 12px; }