
input {
  outline:none;
}
#login {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
.contaner {
    padding: 0;
    margin: 0;
}
#login .top {
    height: 80px;
    line-height: 80px;
    background: rgba(255,255,255,0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
    width: 100%;
    position: absolute;
    top: 150px;
}
#login .titleTop {
    position: absolute;
    top: 240px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 80%;
}
#login .top img {
    height: 50px;
    margin-left: 34%;
}
#login .content {
    width: 400px;
    height: 400px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    right: 20%;
}
#login .content .title {
    text-align: center;
    font-size: 20px;
    color: #000;
    height: 100px;
    line-height: 100px;
    margin-top: 20px;
}
#login .content .loginContent {
    width: 260px;
    margin: auto;
}
#login .content .loginContent .Border {
    border: 1px solid #e5e5e5;
    margin:10px 0;
    height: 40px;
    line-height: 40px;
}
#login .content .loginContent .Border input {
    border:none;
    height: 36px;
    line-height: 36px;
    display: inline-block;
}
#login .content .loginContent .Border img {
    height: 26px;
    width: 26px;
    vertical-align:-19%;
    margin-left: 10px;
}
#login .content .loginContent .Border .line {
    background: #e5e5e5;
    height: 22px;
    margin:-14.5px 10px;
}
#login .content .submit {
    border: none;
    color: #fff;
    width: 100%;
    /*background:#3a7bd5; 一些不支持背景渐变的浏览器  */
    /*background:-moz-linear-gradient(#00d2ff ,#3a7bd5);  	火狐
    background:-webkit-linear-gradient(linear, 0 0, 0 left, from(#00d2ff ),to(#3a7bd5));
    background :-o-linear-gradient(#00d2ff ,#3a7bd5);  Opera11.1-12.0 */
    background:#3a7bd5;    /*IE8*/
    background: -webkit-linear-gradient(left, #3a7bd5 , #00d2ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3a7bd5 , #00d2ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3a7bd5 , #00d2ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3a7bd5 , #00d2ff); /* 标准的语法 */
    outline:none;    
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-top: 30px;

}