    /*header*/
#headIndex .header {
    height: 70px;
    line-height: 70px;
    padding-right: 0;
}
#headIndex .headerBack {
    background: rgba(255,255,255,0.15);
    font-weight:600;
}
#headIndex .header div {
    font-size: 16px;
}
#headIndex .header .logo .line {
    margin:0;
    height: 22px;
    margin-top: 26px;
}
#headIndex .header .logo img {
    height: 50px;
    margin-top:-3px;
}
#headIndex .header .headerMiddle .interRolling img {
    height: 14px;
}
#headIndex .header .headerMiddle .headPorat .roleName{
    border-top-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    height: 22px;
    line-height: 20px;
    background: rgba(255, 255, 255,.2);
    padding: 0 8px;
   
}
#headIndex .header .headerMiddle .headPorat img {
    width: 38px;
    border-radius: 50%;
    margin-top:-3px;
}

#headIndex .header .headerMiddle .title {
    font-size:20px;
    white-space: nowrap;
}
#headIndex .header .headerMiddle .list span {
    
    border-radius: 20px;
    display: inline-block;
    width: 104px;
    height: 37px;
    line-height: 37px;
} 
#headIndex .header .headerMiddle .list span a {
    color:#fff;
}
#headIndex .header .headerMiddle .list .listMenu {
    background: #f8f8f8;
    z-index:999;
    padding: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
#headIndex .header .headerMiddle .list .listMenu ul {
    margin: 0;
}
#headIndex .header .headerMiddle .list .listMenu ul li {

    border-radius: 20px;
    height: 34px;
    line-height: 34px;
    margin: 10px 0 10px 8px;
    font-size: 14px;
    width: 104px;
    text-align: center;

}
#headIndex .header .headerMiddle .list .listMenu ul li:nth-last-of-type(1) {
    margin: 10px 0 15px 8px;
    
}
#headIndex .header .headerMiddle .list .listMenu ul li a {
    color: #666666;
}
#headIndex .header .headerMiddle.col-lg-9 {
    border-right:1px solid rgba(255,255,255,0.3);
    padding-right:0;
    padding-left: 0;
    width: 77.33%;
}
#headIndex .header .headerMiddle.col-lg-9 .list {
    width: 150px;
}
#headIndex .header .off.col-lg-1 {
    width: 6%;
}
/*banner*/
#headIndex .banner .container .bannerList {
    margin: 30px 0;
    position: relative;
    padding:0;
    min-width:316px;
}
#headIndex .banner .container .bannerList img {
   /* padding: 5px 0;*/
}
#headIndex .banner .container .bannerList .bannerDescrb {
    position: absolute;
    top: 16px;
    left: 31px;
    width: 190px;
    height: 80px;
    background: #fff;
    border-radius:8px; 
}
#headIndex .banner .container .bannerList .bannerDescrb span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color:#333333;
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 12px;
    margin: 13px 0 10px 13px;
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.air_bannerIcon {
    background: #0db5a7;
    background: -webkit-linear-gradient(top, #0db5a7 , #38ef7d);
    background: -o-linear-gradient(top, #0db5a7 , #38ef7d);
    background: -moz-linear-gradient(top, #0db5a7 , #38ef7d);
    background: linear-gradient(to top, #0db5a7 , #38ef7d);
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.water_bannerIcon {
    background: #2f80ed;
    background: -webkit-linear-gradient(top, #2f80ed , #56ccf2);
    background: -o-linear-gradient(top, #2f80ed , #56ccf2);
    background: -moz-linear-gradient(top, #2f80ed , #56ccf2);
    background: linear-gradient(to top, #2f80ed , #56ccf2);
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.manage_bannerIcon {
    background: #4568dc;
    background: -webkit-linear-gradient(top, #4568dc , #b06ab3);
    background: -o-linear-gradient(top, #4568dc , #b06ab3);
    background: -moz-linear-gradient(top, #4568dc , #b06ab3);
    background: linear-gradient(to top, #4568dc , #b06ab3);
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.pollute_bannerIcon {
    background: #ffb75e;
    background: -webkit-linear-gradient(top, #ff4b1f , #ff9068);
    background: -o-linear-gradient(top, #ff4b1f , #ff9068);
    background: -moz-linear-gradient(top, #ff4b1f , #ff9068);
    background: linear-gradient(to top, #ff4b1f , #ff9068);
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.GIS_bannerIcon {
    background: #ed8f03;
    background: -webkit-linear-gradient(top, #ed8f03 , #ffb75e);
    background: -o-linear-gradient(top, #ed8f03 , #ffb75e);
    background: -moz-linear-gradient(top, #ed8f03 , #ffb75e);
    background: linear-gradient(to top, #ed8f03 , #ffb75e);
}
#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon.alarm_bannerIcon {
    background: #e53935;
    background: -webkit-linear-gradient(top, #e53935 , #e35d5b);
    background: -o-linear-gradient(top, #e53935 , #e35d5b);
    background: -moz-linear-gradient(top, #e53935 , #e35d5b);
    background: linear-gradient(to top, #e53935 , #e35d5b);
}

#headIndex .banner .container .bannerList .bannerDescrb .bannerIcon img {
    height: 32px;
}
/*轮播按钮*/
#headIndex .banner .container .bannerCarousel .bannerStart {
    position: absolute;
    opacity: 0;
}
#headIndex .banner .container .bannerCarousel .bannerStart:nth-of-type(1) {
    opacity: 1;
}
#headIndex .banner .container .bannerPrev .prev, .banner .container .bannerNext .next {
    width: 58px;
    height: 106px;
    background: #cccccc;
    line-height: 106px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 162px;
    border-radius: 5px;
}
#headIndex .banner .container .bannerPrev span, .banner .container .bannerNext span {
    font-weight: normal;
    font-size: 20px;
}
