#role_limit {
    width: 100%;
    height: 100%;
}
#role_limit .container {
    height: 100%;
    width: 100%;
	padding-right:0;
}
/*#role_limit .newsLeft {
    border-right:1px solid #f0f0f0;
    height: 100%;
    color:#333;
	padding-top: 10px;
}
#role_limit .newsLeft .title {
	height: 40px;
	background: #fff;
	line-height: 40px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	z-index:4;
}
#role_limit .newsLeft .title span {
	width: 5px;
    height: 13px;
    
    display: inline-block;
    font-size: 16px;
    vertical-align: -4%;
	margin-right:4px;
}
#role_limit .newsRight {
    height: 100%;
    padding:0;
    color: #333;
}*/
#role_limit .newsRight img{
   height: 36px;
   border-radius: 50%;
   margin: 10px;
}
#role_limit .newsRight .listBanner span {
    text-align: center;
	color: #333333;
	/*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}
/*#role_limit .banner {
    padding: 0;
    margin:5px;
    box-shadow: 20px 20px 40px -24px rgba(0, 0, 0, 0.3);
	background: #fff;
	height: 160px;
	text-align:center;
}
#role_limit .newsLeft .newRole {
	margin: 40% 0 0 0;
	padding-top: 20px;
} */
/*#role_limit .newRole .radius {
	width: 70px;
	height: 70px;
	border-radius: 500%;
	text-align: center;
	line-height: 70px;
	background: #ccc;
	margin:auto;
	margin-bottom:14px;
}
#role_limit .newRole .radius .glyphicon-plus {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
	line-height: 70px;
	font-size:30px;
}*/
#role_limit .newsRight .banner {
	margin: 5px;
}
#role_limit .nwsRight .banner {
	position: relative;
}
#role_limit .banner .top {
	border-bottom: 1px solid #f5f5f5;
	text-align: center;
	height: 144px;
}
#role_limit .banner .top .list {
	padding: 4px 2px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
	color: #fff;
	margin:2px 0;
}
#role_limit .banner .top .airStation {
	background:#89c997;
}
#role_limit .banner .top .waterStation {
	background:#f29a76;
}
#role_limit .banner .top .operationStation {
	background:#7ecef4;
}
#role_limit .banner .bottom span.edit {
	display: inline-block;
    color: #3a7bd5;
    font-family: '微软雅黑';
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(58, 123, 213, 1)), to(rgba(0, 210, 255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 14px;
}
/*#role_limit .newsRight .public_search {
	height: 40px;
	line-height: 40px;
	width: 100%;
	background:#fff;
	padding-left: 10px;
}*/
#role_limit .newsRight .listBanner {
	width: 100%;
	overflow-y:auto;
	margin: 10px 0;
}
#role_limit .newsRight .banner .top .status {
	position: absolute;
	width: 60px;
	text-align: center;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	right: 0;
	top: 14px;
}
#role_limit .newsRight .banner .bottom {
	text-align:center;
	/*height: 30px;*/
	line-height:30px;
}
#role_limit .newsRight .banner .bottom .line {
	background: #f5f5f5;
}
#role_limit .newsRight .banner .top .user {
	margin-bottom:10px;
}
#role_limit .newsRight .banner {
	height:100%;
}


/*配置*/


#role_limit ul.list li span, .right-radio {
	color:#333;
	font-weight:400;
}
#role_limit #addLimit .modal-footer button.goodBack, #editLimit .modal-footer button.goodBack {
	border-color:#00b796;
}
#role_limit #addLimit .modal-footer button.btn:hover {
	background-color:#00b796;
}
#role_limit #editLimit .modal-footer button.btn:hover {
	background:#00b796;
}
#role_limit #add_config .list p,.edit_role  .list p{
	text-align: left;
}
#role_limit #add_config .list li ul,.edit_role  .list li ul{
	display: none;
	width: 150px;
	margin: 0 auto;
	text-align: left;
	font-size: 13px;
}
#role_limit #add_config .updateNews,.edit_role .updateNews{
	text-align: center;
}
#role_limit #add_config .content-outside .list p,.edit_role .content-outside .list p{
	margin: 0;
	color: #234d93;
	font-weight: 700;
	font-size: 13px;
	padding: 10px 25%;
}
#role_limit #add_config .content-outside .list i,.edit_role  .content-outside .list i{
	display:none;
}
#role_limit #add_config .content-outside > p,.edit_role  .content-outside > p{
	padding-left: 0;
}
#role_limit #add_config .content-outside,.edit_role  .content-outside{	
	background: #fff;
}
#role_limit #add_config .content-outside .line-top,.edit_role  .content-outside .line-top{
	height: 30px;
	line-height: 30px;
}
#role_limit #add_config .content-outside .line-top p,.edit_role  .content-outside .line-top p{
    padding-left: 40px;
	color: #2b2b2b;
	font-weight: 400;
	font-size: 14px;
}

#role_limit #add_config .content-outside .lines,.edit_role  .content-outside .lines{
	
	margin: 0;
}
#role_limit .roleBox .btn_area2{
	background: #F29A76;
	color: #fff;
}
#role_limit #add_config .content-outside .lines label,.edit_role  .content-outside .lines label{
	padding:0;
	font-weight: 400;
	font-size: 14px;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	color: #3b3b3b;
	display: inline-block;
	height:30px;
	line-height:30px;
}
#role_limit #add_config .content-outside .line-top label,.edit_role .content-outside .line-top label {
	border-right:none;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #333;
	border:1px solid #f5f5f5;
	font-size:0;
	margin:0;
}
#role_limit #add_config .content-outside .line-top label.menuList  span{
	font-size: 14px;
}
#role_limit #add_config .content-outside .line-top label.goodBack {
	color:#fff;
	
}
#role_limit #add_config .place,.edit_role .place{
	border: none;
	height:30px;
	line-height:30px;
	display: inline-block;
	font-size: 13px;
}
#role_limit #add_config .content-outside .lines a,.edit_role  .content-outside .lines a{
	/*padding-left: 20px;*/
}
#role_limit #add_config .content-outside .lines a.Radio,.edit_role .content-outside .lines a.Radio{
	/*padding: 0 5px;
	border-right: none;
	width: 45px;*/
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
#role_limit #add_config .content-outside .lines a.Radio .right-radio {
	margin:0 10px;
}
#role_limit #add_config .list,.edit_role .list{
	text-align: center;
	margin:0 auto;
	max-height:300px;
	overflow-y:auto;
}
#role_limit #add_config .list li, .list li{
	cursor: pointer;
}

#role_limit #add_config.list .che,.edit_role .list .che{
	text-align: center;
}
#role_limit .help-block {
	padding-right:30%;
}
#role_limit .publicTable_Title {
	margin-bottom:10px;
}
#role_limit #add_config .modal-body {
	padding-top: 5px;
}
@media (min-width: 1200px){
	.listBanner .banner.col-lg-2{
		width: 18%;
	}
}