<%  content_for :javascript do javascript_include_tag "#{controller_name}" end %>
<style>
    body{
        background:#f5f5f5;
    }
</style>
<div id="d_notice_msg">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 newsLeft">
           <div class="title">
                <span class="goodBack"></span>
                公告管理
           </div>
           <div class="newRole banner cursorPointer" data-toggle="modal" data-target="#notice_add">
                <div class="radius">
                    <img src="<%= image_path("add.png")%>" />
                </div>
                创建公告
            </div>
        </div>
       <div class="col-lg-9 col-md-9 col-sm-9 newsRight">
            <form class="form-inline public_search">
                <div class="form-group">
                    <label for="exampleInputName2">标题:</label>
                    <input type="text" class="form-control" id="exampleInputName2" name="title">
                </div>
                <button type="button" class="btn submit goodBack">查询</button>
            </form>
            <div class="listBanner col-lg-12">
        
            </div>
             <!--分页 .yn_public_page-->
            <div class="yn_public_page">
                <div class="pageTotal pull-left">共 <a></a> 条数据,当前显示第 <small></small> 页,共 <span></span> 页</div>
                <ul class="page pull-right" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
                <div class="clear"></div>
            </div>
       </div>
    </div>
    <div class="loading">
        <div class="actingCon pcactingCon">
                <div class="img"></div>
                <p>加载中...</p>
        </div>
    </div>
     <!--增加公告-->
	<div class="modal fade" id="notice_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">添加公告</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="new_notice_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工告标题:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发布公告者:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="author" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公告内容:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="contents" />
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-sm-3 control-label">公告类型:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="notice_type" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Level:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="notice_level" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发送时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="send_time" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收到时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="recive_tiem" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="created_at" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="updated_at" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--编辑公告-->
	<div class="modal fade" id="notice_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">修改公告</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="edit_notice_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工告标题:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发布公告者:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="author" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公告内容:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="contents" />
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-sm-3 control-label">公告类型:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="notice_type" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Level:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="notice_level" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发送时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="send_time" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收到时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="recive_tiem" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="created_at" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新时间:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="updated_at" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary register">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>






 <script id="role_table" type="text/html">
            {{if notices.length > 0}}
                {{each notices as notice_msgs index}}
                <div class="col-lg-12 banner">
                    <div class="col-lg-3 list">
                        <p class="bold">
                            <span class="title goodBack"></span>
                            <span class="login_name">{{notice_msgs.author}}</span>
                            <span class="login_no">({{notice_msgs.title}})</span>
                        </p>
                    </div>
                    <div class="col-lg-3 listBorder">
                        <span>内容:</span>
                        <br/>
                        <span class="centerRight">{{notice_msgs.contents}}</span>
                    </div>
                    <div class="col-lg-3 listBorder">
                        <span>创建时间:</span>
                        <br/>
                        <span class="centerRight">{{notice_msgs.created_at.substr(0,10)}}</span>
                    </div>
                   <!--<div class="col-lg-3 listBorder">
                        <span>更新时间:</span>
                        <br/>
                        <span class="centerRight">{{notice_msgs.updated_at}}</span>
                    </div>-->
                     <div class="col-lg-2 listBorder">
                        <span class="edit" value="{{notice_msgs.id}}" data-toggle="modal" data-target="#notice_edit">
                             <img src="<%= image_path("edit.png")%>" />
                        </span>
                        <div class="line"></div>
                        <span class="delete" value="{{notice_msgs.id}}">
                            <img src="<%= image_path("delete.png")%>" />
                        </span>
                    </div>
                </div>
                {{/each}}
            {{else}}
               <div class="col-lg-12 banner" style="text-align:center;line-height:100px;">
                   暂无数据
                </div>
            {{/if}}
            </script>