<!DOCTYPE html>
<html lang="en">
<head>
	<title>智慧环保环境自动监控与指挥平台</title>
	<meta charset="UTF-8" http-equiv="X-Frame-Options">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= yield :javascript %>
	<%= csrf_meta_tags %>
</head>
<body>
     <%= yield %>
</body>
</html>


