<!DOCTYPE html>
<html lang="zh" style="overflow:hidden;">
<head>
	<title>智慧环保环境自动监控与指挥平台</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
    <div id="headIndex" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;min-width:1200px;">
        <div class="header goodBack col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo">
                <img src="<%= image_path("logo.png")%>" />
                <div class="line pull-right"></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 headerMiddle">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 title">智慧环保平台</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center list">
                    <span class="indexHead headerBack">
                        <a href="/">首页</a>
                    </span>
                </div>
                
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center list listManage">
                    <span class="cursorPointer">系统管理</span>
                    <div class="listMenu col-lg-12 col-md-12 col-sm-12 col-xs-12 hide">
                        <ul>
                            <li>
                                <a href="/d_login_msgs" target="nav">工号管理</a>
                            </li>
                            <li>
                                <a href="/s_role_msgs" target="nav">角色权限</a>
                            </li>
                            <li>
                                <a href="/s_region_code_infos" target="nav">单位管理</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 center boxScroll">
                    <!--<img src="<%= image_path("notice.png")%>" />-->
                    <!--滚动部分注释-->
                    <!--<div class="block" id="blockScroll">
                        <div class="item">1</div>
                        <div class="item">2</div>
                        <div class="item">11</div>
                        <div class="item">呵呵哈哈</div>
                    </div>-->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 headPorat centerRight pull-right" style="padding-right:25px;">
                    <img src="<%= image_path("head1.jpg")%>" />
                    <span class="roleName"><%= @current_user.login_name %></span>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 center off">
                <a rel="nofollow" data-method="delete" href="/sessions/1" style="color:#fff;">
                    退出
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
            <iframe frameborder="0" scrolling="no" name="nav" src="/root_home"></iframe>
        </div>
    </div>
  
</body>
</html>
  <!--header滚动部分渲染-->
<script id="head_rolling" type="text/html">
    {{each notices as notice_msgs index}}
    <div class="item">{{notice_msgs.contents}}</div>
    {{/each}}
</script>
<script>
$(document).ready(function(){

    /**初始化页面刷新*/

    function refresh(){
  
        url = location.href;

        var once = url.split("#");
    
        if (once[1] != 1) {

            url += "#1";
    
            self.location.replace(url);
    
            window.location.reload();
    
        }
    }
 
    setTimeout(refresh, 10);

    originList();

    // 鼠标经过首页、系统管理
    $(".header .headerMiddle .list span").hover(function(){

        $(this).addClass("headerBack");

        $(this).parent(".list").siblings(".list").find("span").removeClass("headerBack");

    });
    // 鼠标经过系统管理
    $(".header .headerMiddle .listManage").hover(function(){

        $(this).find(".listMenu").removeClass("hide");

    },function(){

        $(this).find(".listMenu").addClass("hide");

    });
    $(".header .headerMiddle .listManage .listMenu ul li").hover(function(){

        //$(this).css("background","#3a7bd5").siblings().css("background","");

        $(this).addClass("goodBack").siblings().removeClass("goodBack");

        $(this).find("a").css("color","#ffffff").end().siblings().find("a").css("color","");        

    },function(){

        $(this).find(".listMenu").addClass("hide");

    });
    /**滚动部分*/
    $.ajax({
        type:'get',
        url:'/d_notice_msgs.json',
        dataType:'json',
        async:true,
        beforeSend:function(){
            $('.loading').show();
        },
        success:function(data){
            var result = template("head_rolling",data);
            $("#blockScroll").html(result);
            var notices = data.notices;
            notices.map(function(ele,index,arr){
                var htmlContent = "<div class='item'>"+ele.contents+"</div>";
                $("#blockScroll").append(htmlContent);
            })
        },
        complete:function(){
            $('.loading').hide();
        },
        error:function(err){
            alert("系统异常,请联系管理员!");
            $('.loading').hide();
        }
    });
})
var scrollUp=(function(){
   return function(json){
    var objScroll = document.getElementById(json.id);
    objScroll.scrollTop = 0;
    objScroll.innerHTML += objScroll.innerHTML;
    if(json.on){
     function scrollIng(){
      if(objScroll.scrollTop >= objScroll.scrollHeight) {
       objScroll.scrollTop = 0;
      }else{
       objScroll.scrollTop ++; 
      } 
     }
     var myScroll = setInterval(function(){scrollIng()},30);
     objScroll.onmouseover = function(){
      clearInterval(myScroll);
     }
     objScroll.onmouseout = function(){
      myScroll = setInterval(function(){scrollIng()},30);
     }
    }else{
     var timer;
     function startScroll(){
      timer=setInterval(function(){scrollUp()},30);
      objScroll.scrollTop++;
     }
     function scrollUp(){
      if(objScroll.scrollTop % json.height==0){
       clearInterval(timer);
       setTimeout(startScroll,2000);
      }else{
       objScroll.scrollTop++;
       if(objScroll.scrollTop >= objScroll.scrollHeight/2){
        objScroll.scrollTop =0;
       }
      }
     }
     setTimeout(startScroll,1000);
    }
   }
})();
/**header滚动--注释
window.onload=function(){
    //on:间歇滚动/无缝滚动 height:间歇滚动的高度
    scrollUp({id:'blockScroll',height:24});
}
    */



    function originList(){
        $.ajax({
            type:"get",
            dataType:"json",
            url:"/s_system_configs.json",
            async:true,
            beforeSend:function(){
                $('.loading').show();
            },
            success:function(data){
                var web_name = data.configs.web_name;
                var logo_url = data.configs.logo_url;
                $(".header .headerMiddle > .title").text(web_name);
                $(".header > .logo > img").attr("src",logo_url);
                
            },
            complete:function(){
                $('.loading').hide();
            },
            error:function(err){
                alert("系统异常,请联系管理员!");
                $('.loading').hide();
            }
        })
    }
</script>