<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8" http-equiv="Content-Type">
  <title>智慧环保环境自动监控与指挥平台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>        
        <%= yield %>
        
</body>
</html>